<!-- views/partials/loading-screen.ejs -->
<div id="loading-overlay">
    <div class="loading-content">
        <img src="/img/logo.png" alt="Logo" class="loading-logo">
        <div class="spinner-3d"></div>
    </div>
</div>
