PORT=8080
SUPABASE_URL=https://your.project.id.supabase.co
SUPABASE_KEY=sb_publishable_supabase_key-
EMAILJS_PUBLIC_KEY=public_key
EMAILJS_SERVICE_ID=service_pqj8mqx
EMAILJS_TEMPLATE_ID=template_id
WELCOME_TEMPLATE_ID=template_id
GOOGLE_MAPS_API_KEY=your_maps_api_key
GEMINI_API_KEY=your_gemini_api_key_for_404page